.sliders {
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-color: darkred;
}

.sliders--content {
  background-color: rgb(5, 89, 216);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* padding: 20px; */
}

.slider_image {
  /* background-color: rgb(1, 94, 148); */
  height: 100%;
  width: 400px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sliders--feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  /* height: 250px; */
  /* background-color: rgb(19, 70, 179); */

  margin-left: 150px;
}

.slider_logo {
  /* height: 200px; */
  width: 300px;
  /* background-color: black; */
  margin-top: 40px;
}

.feature--title {
  font-family: Roboto;
  font-style: normal;
  /* font-weight: 500; */
  font-size: 32px;

  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
}


.feature--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;

  text-align: center;

  color: #000000;
}

.feature__btn {
  border-radius: 20px;
  /* height: 40px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;

  background: rgba(50, 110, 146);
}

.slider__btn-left,
.slider__btn-right {
  border-radius: 20px;
  /* height: 40px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;

  background: rgba(50, 110, 146);
  background-color: NONE;
}

@media only screen and (max-width: 750px) {

    .sliders {
        height: 70vh;
    
      }
  .feature--text h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 84px;
    text-align: center;
    letter-spacing: -0.017em;
    color: #ffffff;
  }

  .slider {
    min-height: 60vh;
  }

  .feature__btn {
    border-radius: 10px;
    /* height: 40px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;

    background: rgba(50, 110, 146, 0.54);
  }
}



@media only screen and (max-width: 750px) {


    .sliders--content {
        /* background-color: rgb(5, 89, 216); */
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: row; */
        /* padding: 20px; */
      }
.slider_image {
 


 width: 10px;
 display: none;

  }


  .slider_logo {
    /* height: 200px; */
    width: 280px;
    /* background-color: black; */
    margin-top: 40px;
  }
  
  .sliders--feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
   width: 90%;
    /* background-color: rgb(218, 24, 24); */
  
    margin-left: -5px;
  }

  .feature--title{
    text-align: center;
  }
}