
.cover {
  background-image: url("./../pages/images/hero3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  vertical-align: middle;
  min-height: 90vh;
  position: relative;
  /* width: 100vw; */
}

/* BG OVERLAY */

.bg_overlay {
  /* background: var(--dark-color); */

  background: rgba(50, 110, 146, 0.54);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.cover_health {
  /* background-color: #f13a11; */
  width: 100vw;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.cover_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: -0.017em;

  color: #ffffff;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.cover_subtitle {
  width: 100%;
  font-family: Roboto;
  font-style: normal;

  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.017em;

  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-color: rgb(233, 230, 58); */
}

.cover_btn {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.cover_btn button {
  width: 176px;
  height: 53px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.017em;

  color: #ffffff;

  background: #326e92;
  border-radius: 100px;
}

.domaine {
  /* height: 60vh;  */
  width: 100%;
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.domaine_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.017em;

  color: #326e92;
}

.domaine_box {
  height: 50%;
  width: 100%;
  margin-top: 20px;
  /* background-color: crimson; */
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.domaine_box .domaine_item_main {
  height: 50px;
  width: 350px;
  border-left: 10px solid #02436b;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;

  background: #ffffff;
  box-shadow: 0px 15px 77px -5px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}


.domaine_box .domaine_item_main svg {
/* background-color: rgb(196, 63, 63); */
height: 30px;
width: 30px;
}

.domaine_box .domaine_item {
  height: 50px;
  width: 350px;
  border-left: 10px solid #02436b;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;

  background: #ffffff;
  box-shadow: 0px 15px 77px -5px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  /* height: 75vh; */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  background: rgba(196, 196, 196, 0.1);
}

.about_main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: darkred; */
  margin-top: 30px;
  flex-wrap: wrap;
}

.about .about_img {
  /* height: 250px; */
  width: 420px;
  /* background-color: rgb(182, 87, 87); */
}

.about .about_img Image {
  height: 100%;
  width: 100%;
  background-color: rgb(182, 87, 87);
}

.about .about_text {
  /* height:80%; */
  width: 550px;

  /* Colors / Grey */
  background: #ebeaed;
  /* opacity: 0.4; */
  border-radius: 5px;

  padding: 30px;
}

.about .about_text .p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgba(21, 20, 57, 0.4);

  mix-blend-mode: normal;
}

.about2 {
  /* height: 50vh; */
  width: 100%;

  background: #02436b;
}

.about2 {
  /* background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  position: relative;
}

.about2 .about_text {
  /* height: 50%; */
  width: 50%;
  /* padding-right: 20%; */
  margin-top: -50px;
  /* background-color: rgb(182, 154, 30); */
}
.about2 .about_img {
  height: 300px;
  width: 300px;
  /* background-color: rgb(182, 87, 87); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_text_title {
  /* Heading / H3 Title */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  /* identical to box height, or 124% */
  letter-spacing: -0.4px;

  color: #ffffff;
  margin-bottom: 20px;
}

.about_text_main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
  /* background-color: darkorange; */

  text-align: justify;
}

.about_linear {
  position: absolute;
  right: -240px;
  margin-top: -70px;
  height: 550px;
  width: 700px;

  opacity: 0.5;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* background-color: rgb(22, 190, 78);  */
}

.personnel {
  /* height: 45vh; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  background: rgba(196, 196, 196, 0.1);
}

.personnel_text {
  /* height: 100%; */
  width: 50%;
  /* background-color: rgb(168, 14, 14); */
}

.personnel_img {
  height: 250px;
  width: 400px;
  /* background-color: rgb(189, 216, 35); */

  overflow: hidden;
}

.personnel_title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  /* identical to box height, or 124% */
  letter-spacing: -0.4px;

  color: #326e92;
}

.text_main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.place {
  /* height: 65vh; */
  width: 100%;
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.place_carte {
  height: 350px;
  width: 350px;
  /* background-color: cyan; */
}

.place_texte {
  /* height: 350px; */
  width: 500px;
  background: #ebeaed;
  /* opacity: 0.4; */
  border-radius: 5px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.place_title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  /* identical to box height, or 124% */
  letter-spacing: -0.4px;

  color: #326e92;

  margin-bottom: 10px;
}

.video_box {
  height: 40vh;
  width: 100%;

  background: #02436b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video_item {
  height: 200px;
  width: 300px;
  background-color: #fff;
}

.footer {
}

.footer_item {
  height: 90%;
  width: 250px;
   /* background-color: rgb(80, 221, 52);  */

  margin-bottom: 30px;
}

.footer_item_adress {
  /* height: 90%; */
  width: 340px;
  /* background-color: rgb(80, 221, 52); */
}

.footer_logo {
  width: 80%;
  /* background-color: blue; */
}


.item_logo {

  height: 90%;
  width: 250px;

  margin-bottom: 30px;



  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  /* background-color: rgb(163, 43, 43); */
}


.footer_text {
  width: 80%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;

  text-align: justify;
}

.item-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

  background-color: #fff;
}


.footer_link_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  margin-left: 20px;
}

.footer_link ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: -0.017em;

  color: #ffffff;
}

.footer_link ul li {
  color: #ffffff;
}




.footer_contact_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.footer_mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

.footer_phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

.footer_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-right: 40px;
}
.footer_icon_item {
  height: 35px;
  width: 35px;

  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  color: #02436b;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_adress_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.footer_item_adress {
  /* height: 90%; */
  width: 340px;
  /* background-color: rgb(80, 221, 52); */
}

.adress_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

.adress_news {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.adress_input {
  width: 70%;
  outline: none;
}
.adress_btn {
  width: 30%;
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  background: #02436b;
}

.footer_main {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-color: blue; */
  padding: 20px;

  background: linear-gradient(0deg, #2e2c2c, #2e2c2c),
    linear-gradient(97.46deg, #ab0071 -22.1%, #4c7cf7 129.48%);

  border-top: 10px solid #4c7cf7;
}







@media only screen and (max-width: 750px) {
  .domaine {
    /* height: 60vh;  */
    width: 100%;
    padding: 30px;
  }

  .domaine_box .domaine_item_main {
    height: 50px;
    width: 350px;

    padding-left: 10px;

    background: #ffffff;
    box-shadow: 0px 5px 17px -5px rgba(0, 0, 0, 0.2);

    padding-top: 20px;
  }

  .domaine_box .domaine_item {
    height: 50px;
    width: 350px;

    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    padding-left: 10px;

    box-shadow: 0px 5px 27px -5px rgba(0, 0, 0, 0.2);
  }

  .domaine_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.017em;

    color: #326e92;
  }

  .about2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about_text_title {
    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: darkgreen; */
    color: #ffffff;
    margin-bottom: 20px;
  }

  .about2 .about_text {
    width: 350px;
    /* margin-top: -70px;  */
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    /* background-color: rgb(182, 154, 30);  */
    margin-bottom: 40px;
  }

  .about_text_main {
    /* background-color: darkorchid; */
  }
  .personnel_text {
    width: 100%;
    /* background-color: rgb(168, 14, 14); */
  }

  .personnel_title {
    font-family: DM Sans;

    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .place_texte {
    /* height: 300px; */
    width: 350px;
    background: #ebeaed;
    /* opacity: 0.4; */
    border-radius: 5px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .place_title {
    font-size: 28px;

    margin-bottom: 10px;
  }

  .about_main {
    display: flex;
    padding: 30px;
  }

  .item-logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;

    /* background-color: darkseagreen  ; */
    width: 100%;
  }

  .footer_logo,
  .footer_text {
    width: 90%;
  }

  .footer_link_title {
    margin-left: -3px;
  }
}
